---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.container {
	display: flex;
	align-items: top;
	justify-content: left;
	gap: 10px
}

.thumbnail {
	box-shadow: 2px 2px 2px 2px Gray;
	border-radius: 6px;
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.imglink {
	color: black;
	flex-shrink: 0;
}

.profileimg {
	border-radius: 8px;
	padding: 2px 2px 2px 2px;
	box-shadow: 1px 1px 1px 1px Gray;
}

.pubtext {
	margin: 0px 0px 0px 0px
}

.button:link{
	color: black;
}

.button:visited{
	color: black;
}

.button {
	border-radius: 8px;
	background-color: LightGray;
	padding: 2px 2px 2px 2px;
	box-shadow: 1px 1px 1px 1px Gray;
	text-color: black;
}

.button:hover{
	background-color: Gray;
	text-decoration: none;
	box-shadow: 0px 0px 0px 0px Gray;
}

.button-link {
	color: white;
}